<h1><%= @bike.title %></h1>
<img src="assets/P1000410.JPG" alt="Test bike" height="42" width="42">
<p><%= @bike.body %></p>
<h3>Comments (<%= @bike.comments.size %>)</h3>
<%= render partial: 'bikes/comment', collection: @bike.comments %>
<%= render partial: 'comments/form' %>
<%= link_to "<< Back to Bikes List", bikes_path %>
<%= link_to "Delete", bike_path(@bike), method: :delete, confirm: "Are you sure?" %>
<%= link_to "Edit", edit_bike_path(@bike) %>
